@use '../../styles/cores.scss' as *;
.secaoInicio{
    display: flex;
    justify-content: space-between;
    .boxInicio{
        width: 60%;
        height:auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin-top: 10%;
        
        h1{
           padding: 0.5rem;
           font-size: 3.5rem;
           color: $background-primary;
        }

        p{
         padding: 0.5rem;
         font-size: 1.2rem;  
        }
    }
    img{
        width: 40vw;
    }

}

@media(max-width:500px){
  .secaoInicio{
    flex-direction: column;
    align-items: center;
    .boxInicio{ 
        width: 100%;
      .tituloInicio{
        width: 80%;
        font-size: 2.1rem;
        text-align: center;
      }
    .paragrafoInicio{
         width: 100%;
         font-size: 0.9rem;
         font-weight: 400;
         margin-bottom: 0.5rem;
         color: $background-primary;
         text-align: center;
      }
    }

    img{
        border-radius: 50%;
        width: 50vw;
    }

  }

}