@use '../../styles/cores.scss' as *;
.footerContainer{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color:$background-primary;
    padding: 0.6rem;
    align-items: center;

    .box2{
        display: flex;
        justify-content: space-evenly;
        gap: 1rem;
        align-items: center;
        h2{
            color: white;
            font-weight: 500;
        }
        img{
            width:6rem;
        }
    }

    .textFooter{
        width: 50%;
        text-align: center;
        color: $text-secondary;
        font-size: 0.9rem;
        font-weight: 300;
    }
}

.icone{
    width: 24px;
}

.redesSociais{
    width: 20%;
}

@media(max-width:500px){
    .footerContainer{
        flex-wrap: wrap;
        flex-direction: column-reverse;
        gap:1rem;

        
    .textFooter{
        width: 100%;
        font-size: 0.9rem;
        font-weight: 300;
    }

     .box2{
        gap:1.5rem;
        .logoFooter{
            width: 3rem;
        }

    }

    }
   
    .redesSociais{
        margin-top: 0.5rem;
        width: 60%;
        margin-bottom: 0.5rem;
    }

    .icone{
        width: 2rem;
    }

}